/*all pages*/

:root {
    --branding-color: linear-gradient(107.21deg, #c961de 24.43%, #2954a3 68.95%);
    --secondary-color: #f9f7fe;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

body {
    font-family: var(--default-font-family);
    background: black;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--secondary-color);
    font-family: var(--heading-font-family);
    font-weight: bold;
}

p {
    color: var(--secondary-color);
}

.content-container {
    padding: 60px 20px;
}

.content h1 {
    font-size: 64px;
    line-height: 80px;
}

.content h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}

.content h3 {
    font-size: 24px;
    line-height: 1.5;
    font-family: var(--default-font-family);
}

.content p {
    font-size: 14px;
}

.content {
    margin: 30px;
}

.btn-branding {
    background: linear-gradient(107.21deg, #c961de 24.43%, #2954a3 68.95%);
    border-radius: 20px;
    color: white;
    border: 1px solid var(--secondary-color);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn-branding-outline {
    background: linear-gradient(107.21deg, #c961de 24.43%, #2954a3 68.95%);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.project-desciption {
    padding: 120px 60px;
}

.logo {
    max-height: 40px;
    font-weight: bold;
}

nnav {
    padding: 20px 0;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: #C961DE;
    transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
    color: var(--secondary-color);
}

footer {
    margin: 60px 0;
}

footer .contact-box {
    background: var(--branding-color);
    padding: 30px 120px;
    border-radius: 10px;
}

footer .contact-box p {
    margin: 0;
}

footer .email-link {
    text-decoration: none;
    color: #c961de;
    font-size: 24px;
}

footer .email-link:hover {
    color: var(--secondary-color);
}

footer .social-links a {
    margin: 0 20px;
    color: var(--secondary-color);
    background: var(--branding-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
    color: white;
    background: #c961de;
}


/*intro page*/

.hero {
    text-align: center;
    padding: 20px 20px;
    margin: 0 auto;
}

.i {
    display: flex;
    /*height: 100vh;*/
}

.i-left {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

.i-right {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
}

.i-left-wrapper {
    padding: 40px;
}

.i-intro {
    font-size: 50px;
    font-weight: 300;
    color: var(--secondary-color);
    text-align: center;
}

.i-name {
    font-size: 80px;
    color: #C961DE;
    text-align: center;
}

.i-title {
    height: 50px;
    overflow: hidden;
    text-align: center;
    margin-top: 10px;
}


/*animation for what I do using css*/

.i-title-wrapper {
    height: 100%;
    animation: move 5s ease-in-out infinite alternate;
}

@keyframes move {
    25% {
        transform: translateY(-25px);
    }
    50% {
        transform: translateY(-50px);
    }
    75% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(-150px);
    }
}

.i-title-item {
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    color: #2954a3;
    display: flex;
    justify-content: center;
}


/*My cartoon avatar on intro page*/

.intro-image {
    width: 360px;
    height: 360px;
    display: block;
    margin: 0 auto;
    position: absolute;
    z-index: -1;
    align-items: center;
    justify-content: center;
}


/*intro-page button css*/

#contact-button {
    background: linear-gradient(107.21deg, #c961de 24.43%, #2954a3 68.95%);
    border-radius: 20px;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 auto;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    /*margin-left: 80px;*/
    width: 300px;
}


/*imgs of projects*/

.img-fluid {
    align-items: center;
    margin-top: 90px;
}

#below {
    color: var(--secondary-color);
    font-size: 20px;
}


/*about page*/

#aboutpic {
    margin: 1px 40px;
    padding: 60px;
}


/*Responsivity*/

@media (max-width: 1030px) {
    .i-title-item {
        font-size: 25px;
    }
}

@media (max-width: 900px) {
    h1 {
        font-size: 44px;
        line-height: 1.5;
    }
    h2 {
        font-size: 44px;
    }
    h3 {
        font-size: 26px;
    }
    .content {
        text-align: center;
        padding: 0;
    }
    .project-desciption {
        padding: 0;
        text-align: center;
    }
    .i-title-item {
        font-size: 20px;
    }
}

@media (max-width: 724px) {
    .i-right {
        display: none;
    }
}

@media (max-width: 500px) {
    .i-title {
        font-size: 10px;
    }
}